<% if (site.posts.length){ %>
  <div class="widget-tag">
    <h3 class="widget-title">Links</h3>
    <div class="widget">
	    <ul class="entry">
		<li><a href="http://aerok.github.io" title="AeroK">AeroK的博客</a></li>
		</ul>
	</div>
  </div>
<% } %>